@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald&display=swap');
body
{
  color: white;
  background: rgb(255, 211, 16);
  font-family: "Indie Flower", sans-serif;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18;
  font-weight: bold;
  letter-spacing: 10px;
  border-radius: 10px;
  background-color: azure;
  border: black 2px solid;
  height: 65px;
  width: 500px;
  color: rgb(6, 12, 32);
}
label{
  font-size: 14px;
  color: green;
  padding: 6px;
  border-radius: 10px;
  background-color: azure;
}
.btnS{
  background: white;
  font-weight: bold;
  color: black;
  height: 30px;
  width: 120px;
}
.btnS2{
  background: white;
  font-weight: bold;
  color: black;
  height: 50px;
  width: 120px;
}
.btnS2:hover, .btnS:hover{
  background: blanchedalmond;
}